# =========================
# Build folders
# =========================
build/
cmake-build-*/
out/
bin/

# =========================
# CMake
# =========================
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# =========================
# Compiled binaries
# =========================
*.o
*.obj
*.so
*.a
*.out
*.exe
*.dll
*.dylib
*.lib

# =========================
# macOS
# =========================
.DS_Store

# =========================
# CLion / JetBrains
# =========================
.idea/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary files
# =========================
*.tmp
*.swp
*~